<%= content_for :video do %>
	<div class="img-header profile"></div>
<% end %>
<br><br>

<div class="row">
	<div class="col-md-6">
		<h1>
			It's my profile
			<%= link_to "Edit profile", edit_user_path(current_user), remote: true, class: "btn btn-primary pull-right" %>
		</h1>
	</div>
</div>

<div class="row" id="user-profile">
	<%= render current_user %>
</div>

<%= render 'shared/cat', text: "Вы можете изменить свои данные, нажав на кнопку 'Edit profile' вверху страницы", font_size: 16 %>