<h1>Этап 1. Выберите продукты:</h1>

<div class="products collection">
	<%= render 'shared/categories_list', categories: @categories %>
</div>

<h1>Выбранные продукты:</h1>
<div class="products selected_products">
</div>